@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Alumni Sans', sans-serif;
  font-size: 18px;
  color: #fff; }

body {
  background-color: #221616;
  padding: 0px 25px; }

.container-cv {
  position: relative;
  margin: 25px auto;
  max-width: 55rem;
  box-shadow: 0px 5px 15px rgba(204, 0, 0, 0.945);
  border-radius: 5px; }

.resume {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #000000; }
  .resume-left {
    flex: 0 0 33%; }
    .resume-left h5 {
      display: none; }
    .resume-left section {
      padding-top: 5px; }
      .resume-left section:first-child {
        padding-top: 0px; }
      .resume-left section h3 {
        position: relative;
        width: 100px;
        background-color: #cc0000;
        left: 50%;
        transform: translateX(-50%);
        padding: 3px 7px;
        border-radius: 15px 0 15px 0;
        margin-bottom: 10px; }
      .resume-left section ul {
        margin: 5px 10px; }
        .resume-left section ul li {
          list-style-type: none;
          position: relative; }
  .resume-right {
    flex: 0 0 67%; }
    .resume-right h5 {
      display: none; }
    .resume-right section {
      background-color: #cc0000; }
      .resume-right section code.hljs {
        font-size: 1.2rem;
        background-color: #cc0000;
        color: #000; }
        .resume-right section code.hljs .hljs-title, .resume-right section code.hljs .hljs-type, .resume-right section code.hljs .hljs-string, .resume-right section code.hljs .hljs-number, .resume-right section code.hljs .hljs-selector-id, .resume-right section code.hljs .hljs-selector-class, .resume-right section code.hljs .hljs-quote, .resume-right section code.hljs .hljs-template-tag, .resume-right section code.hljs .hljs-deletion {
          color: #000; }

.descr {
  padding: 10px 0; }

.divider {
  display: block;
  height: 10px;
  background-color: #fff; }
  .divider_thin {
    height: 0.15em; }
  .divider_min {
    display: none;
    height: 10px;
    background-color: #fff; }

.title {
  display: flex;
  align-items: center;
  height: 70px; }
  .title img {
    object-fit: cover;
    height: 100%;
    background-color: #fff; }
  .title h3 {
    flex: 1;
    background-color: #000;
    height: 70px; }

.title_fs27 {
  font-size: 1.5rem;
  text-align: center; }

.title_fs29 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1rem; }

.title_fs54 {
  font-size: 3rem;
  font-weight: 700;
  padding-left: 7px; }

.text_fs23 {
  font-size: 1.3rem;
  font-weight: 600; }

.text_fs27 {
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 500; }

.text_fs32 {
  font-size: 1.8rem;
  line-height: 54px; }

.descr_fs32 {
  margin: 0px 25px;
  font-size: 1.8rem; }

@media (max-width: 1440px) {
  .footer .github img {
    width: 2em;
    height: 2em; } }

@media (max-width: 1075px) {
  * {
    font-size: 16px; }
  .resume-right section code.hljs {
    font-size: 1.2rem; }
  .resume-left .portrait:hover .name {
    transform: translate(-40%, 0%); }
  .footer .github img {
    width: 2em;
    height: 2em; } }

@media (max-width: 850px) {
  .resume-right section code.hljs {
    font-size: 1.1rem; } }

@media (max-width: 767px) {
  * {
    font-size: 16px; }
  .container-cv .resume {
    flex-direction: column; }
    .container-cv .resume-left section {
      padding-top: 10px; }
      .container-cv .resume-left section.portrait-for-min {
        padding-top: 0px; }
    .container-cv .resume-right section code.hljs {
      font-size: 1.2rem; }
    .container-cv .resume .contact__ways,
    .container-cv .resume .skills__list,
    .container-cv .resume .languages__list {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap; }
      .container-cv .resume .contact__ways li,
      .container-cv .resume .skills__list li,
      .container-cv .resume .languages__list li {
        margin-right: 25px; }
    .container-cv .resume .portrait {
      display: none; }
    .container-cv .resume .portrait-for-min {
      display: flex;
      width: 100%;
      height: 350px;
      justify-content: space-between; }
      .container-cv .resume .portrait-for-min img {
        flex: 1;
        display: block;
        object-fit: cover;
        max-width: 60%;
        height: auto;
        opacity: 0.8;
        backface-visibility: hidden;
        padding-left: 10px; }
      .container-cv .resume .portrait-for-min .name {
        flex: 1;
        text-align: right;
        padding-top: 30px;
        padding-right: 10px; }
        .container-cv .resume .portrait-for-min .name h1 {
          font-size: 5.2rem;
          font-weight: 600;
          line-height: 2.6rem;
          color: rgba(204, 0, 0, 0.9); }
        .container-cv .resume .portrait-for-min .name p {
          display: inline-block;
          font-size: 2.6rem;
          line-height: 2.8rem;
          color: #fff; }
  .container-cv .divider_min {
    display: block; } }

@media (max-width: 567px) {
  .container-cv .resume-right section code.hljs {
    font-size: 1.02rem; }
  .container-cv .resume .portrait-for-min .name h1 {
    font-size: 4.2rem;
    line-height: 2.1rem; }
  .container-cv .resume .portrait-for-min .name p {
    font-size: 2.0rem;
    line-height: 2.4rem; } }

@media (max-width: 502px) {
  .container-cv .resume-right section code.hljs {
    font-size: 0.85rem; }
  .container-cv .resume .portrait-for-min {
    display: none; }
  .container-cv .resume .portrait {
    display: block;
    border: 0px solid #fafafa; }
    .container-cv .resume .portrait:hover .name {
      display: none; }
  .container-cv .resume .divider_min:nth-child(2) {
    display: none; } }

@media (max-width: 448px) {
  * {
    font-size: 14px; }
  .container-cv .resume-right section code.hljs {
    font-size: 0.9rem; } }

@media (max-width: 400px) {
  .container-cv .resume-right section code.hljs {
    font-size: 0.8rem; } }

@media (max-width: 370px) {
  .container-cv .resume-right section code.hljs {
    font-size: 0.75rem; } }

@media (max-width: 370px) {
  .container-cv .resume-right section code.hljs {
    font-size: 0.7rem; } }

@media (max-width: 324px) {
  .container-cv .resume-right section code.hljs {
    font-size: 0.68rem; } }

header {
  position: relative;
  background-color: #cc0000;
  border-radius: 5px 5px 0 0;
  min-height: 30px; }
  header h1 {
    text-align: right;
    padding: 2px 10px;
    font-size: 1.4rem; }

.hamburger {
  position: absolute;
  top: 10px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer; }
  .hamburger span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #000000; }
  .hamburger span.middle {
    width: 34px;
    margin: 3px 0; }

.menu {
  position: fixed;
  top: -100%;
  width: 100%;
  height: auto;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: all .6s; }
  .menu.active {
    top: 25px;
    visibility: visible;
    opacity: 1; }
  .menu__block {
    position: relative;
    width: 250px;
    background-color: #cc0000;
    height: 100%;
    border-radius: 15px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    transition: all .6s;
    z-index: 10; }
  .menu__close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer; }
    .menu__close svg {
      width: 35px;
      height: auto; }
  .menu__list {
    list-style-type: none; }
  .menu__link {
    font-size: 2rem;
    font-weight: 800;
    line-height: 2.2rem; }
    .menu__link a {
      font-size: 2rem;
      text-decoration: none; }
  .menu__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2c0202;
    opacity: 0.5; }

.portrait {
  position: relative;
  width: 100%;
  height: 320px;
  border: 12px solid #fafafa;
  background-color: white;
  box-sizing: border-box; }
  .portrait img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    backface-visibility: hidden;
    transition: 1s ease; }
  .portrait h2 {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 2rem;
    color: rgba(204, 0, 0, 0.7);
    transition: 1.2s ease; }
  .portrait p {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: #000;
    transition: 1.2s ease; }
  .portrait .name {
    position: absolute;
    opacity: 0.8;
    text-align: center;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: 1s ease;
    width: 100%; }
  .portrait:hover img {
    opacity: 1;
    transition: 1s ease; }
  .portrait:hover .name {
    position: absolute;
    margin-bottom: 2px;
    opacity: 1;
    text-align: left;
    transform: translate(-45%, 0%);
    transition: 1s ease; }
    .portrait:hover .name h2 {
      color: white;
      font-size: 2rem;
      line-height: 1.2rem;
      font-weight: 400;
      transition: 1s ease;
      text-align: left; }
    .portrait:hover .name p {
      display: inline-block;
      color: black;
      transition: 1s ease;
      font-size: 1.2rem;
      font-weight: 600;
      text-align: left;
      background-color: rgba(255, 255, 255, 0.486);
      border-radius: 5px;
      padding: 0 2px 0 2px; }

.portrait-for-min {
  display: none; }
  .portrait-for-min h2 {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 2rem;
    color: rgba(204, 0, 0, 0.7);
    transition: 1.2s ease; }

.contact__ways {
  position: relative; }
  .contact__ways li {
    display: block;
    height: 36px;
    text-align: left;
    padding-left: 50px;
    margin-bottom: 5px; }
  .contact__ways_phone {
    background: url("../img/icons/phone.svg") no-repeat; }
  .contact__ways_mail {
    background: url("../img/icons/email.svg") no-repeat; }
  .contact__ways_telegram {
    background: url("../img/icons/telegram.svg") no-repeat; }

.skills__list li {
  height: 54px;
  text-align: left;
  padding-left: 54px; }

.skills__list_html {
  background: url("../img/icons/html.svg") 0% 50% no-repeat; }

.skills__list_css {
  background: url("../img/icons/css.svg") 0% 50% no-repeat; }

.skills__list_sass {
  background: url("../img/icons/sass.svg") 0% 50% no-repeat; }

.skills__list_js {
  background: url("../img/icons/javascript.svg") 0% 50% no-repeat; }

.skills__list_gulp {
  background: url("../img/icons/gulp.svg") 0% 50% no-repeat; }

.skills__list_icon {
  background-size: 50px; }

.skills h3.skills__title {
  margin-bottom: 0px; }

.languages__list li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px; }
  .languages__list li img {
    width: 4rem;
    height: 2.5rem;
    margin-right: 5px; }

.courses ul li {
  list-style-type: none;
  position: relative; }

section.code {
  background-color: #000; }
  section.code .code__img {
    width: 95%;
    transition: 1s; }
  section.code .code__img:hover {
    transform: scale(1.5) translateX(-15%); }

.project {
  position: relative;
  width: 100%; }
  .project__link {
    position: relative; }
    .project__link img {
      display: block;
      position: relative;
      object-fit: cover;
      width: 100%; }

.footer {
  height: 70px;
  background-color: #cc0000;
  padding: 5px 10px 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .footer .github {
    cursor: pointer; }
    .footer .github img {
      width: 3rem;
      height: 3rem;
      box-sizing: border-box; }
      .footer .github img:hover {
        background-color: black;
        border: 2px solid #000;
        border-radius: 50%; }
  .footer .rss {
    cursor: pointer; }
    .footer .rss img {
      width: auto;
      height: 3rem;
      padding: 3px; }
      .footer .rss img:hover {
        background-color: white;
        border-radius: 7px; }
  .footer p {
    vertical-align: baseline;
    font-size: 1.1rem; }
